  <table class="submission-detail">
    <tr>
      <th><%= Submission.human_attribute_name :category_name %>:</th>
      <td><%= @submission.category_name %></td>
    </tr>
    <tr>
      <th><%= Submission.human_attribute_name :title %>:</th>
      <td><%= @submission.title %></td>
    </tr>
    <tr>
      <th><%= Submission.human_attribute_name :start_datetime %>:</th>
      <td>
        <% if @submission.all_day? %>
          <%= @submission.start_date %>
        <% else %>
          <%= @submission.start_datetime %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= Submission.human_attribute_name :end_datetime %>:</th>
      <td>
        <% if @submission.all_day? %>
          <%= @submission.end_date %>
        <% else %>
          <%= @submission.end_datetime %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= Submission.human_attribute_name :where %>:</th>
      <td><%= @submission.where %></td>
    </tr>
    <tr>
      <th><%= Submission.human_attribute_name :description %>:</th>
      <td><%= simple_format @submission.description %></td>
    </tr>
    <tr>
      <th><%= Submission.human_attribute_name :url %>:</th>
      <td><%= link_to_if @submission.url, @submission.url, @submission.url %></td>
    </tr>
  </table>
