<%= form_for @submission, :html => {:class => 'new_submission form-inline'} do |f| %>

<% if @submission.errors.any? %>
<div class='error'>
<% @submission.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>
</div>
<% end %>

<dl>
	<!-- カテゴリ入力 //-->
	<dt><%= f.label :category %><span class="required-mark">*</span></dt>
	<dd>
		<%= f.collection_select :category_id, Category.available, :id, :name_with_desc, {:prompt => true}   %>
	</dd>
</dl>
<dl>
	<dt><%= f.label :sub_category %></dt>
	<dd id="subcat-select-container">
		&nbsp;
	</dd>
</dl>
<dl>
	<!-- イベントタイトル //-->
	<dt><%= f.label :title %><span class="required-mark">*</span></dt>
	<dd>
		<%= f.text_field :title, :size => 40,:class =>'wide', :placeholder => 'イベントタイトルを入力してください。' %>
	</dd>
</dl>
<dl>
	<dt><%= f.label :start_datetime %><span class="required-mark">*</span></dt>
	<dd><%= f.text_field :start_date, :size => 10, :class => 'input-small' %> <%= f.text_field :start_time, :size => 7, :class => 'input-mini' %>
	</dd>
</dl>
<dl>
	<dt><%= f.label :end_datetime %></dt>
	<dd><%= f.text_field :end_date, :size => 10, :class => 'input-small' %>
	<%= f.text_field :end_time, :size => 7, :class => 'input-mini' %>
	</dd>
</dl>
<dl>
	<dt class='checkbox-conteinar'><label>全日イベント</label></dt>
	<dd><%= f.check_box :all_day %><%= f.label :all_day %></dd>
</dl>
<dl>
	<!-- 場所 //-->
	<dt><%= f.label :where %></dt>
	<dd><%= f.text_field :where, :class => 'wide', :placeholder => '場所の名前や住所を記入します（空白可）' %></dd>
</dl>
<dl>
	<dt><%= f.label :description %></dt>
	<dd><%= f.text_area :description, :rows => 7, :class => 'input-xlarge' %>
	</dd>
</dl>
<dl>
	<dt><%= f.label :url %></dt>
	<dd><%= f.text_field :url, :class => 'wide', :placeholder => '1次情報のURLがあれば入力して下さい' %>
	</dd>
</dl>
<div class='submitbutton'>
	<%= f.submit :value => '送信', :class => 'regist', :id => 'VEPsubmitBtn' %>
</div>


<% end %>

<%= javascript_tag do %>
  $(function() {
    $('#submission_start_date, #submission_start_time,' +
      '#submission_end_date, #submission_end_time').calendricalDateTimeRange({
        iso: 1
    });

    $('#submission_all_day').bind('change', function() {
      $('#submission_start_time, #submission_end_time')[this.checked ? 'hide' : 'show']()
    }).trigger('change');

    function update_subcat_select() {
      if (!$('#submission_category_id').val()) return;
      $('#subcat-select-container').load('<%= url_for(:action => 'subcat_select') %>?category_id='+$('#submission_category_id').val());
    }
    $('#submission_category_id').bind('change', update_subcat_select);
    update_subcat_select();
  });
<% end %>

