<%= form_for @submission, :html => {:class => 'new_submission form-inline'} do |f| %>
  <table class="submission-detail">
    <tr>
      <th><%= f.label :category %>:</th>
      <td><%= f.collection_select :category_id, Category.available, :id, :name_with_desc, :prompt => true %></td>
    </tr>
    <tr>
      <th><%= f.label :title %>:</th>
      <td><%= f.text_field :title, :size => 40 %></td>
    </tr>
    <tr>
      <th><%= f.label :start_datetime %>:</th>
      <td><%= f.text_field :start_date, :size => 10, :class => 'input-small' %>
        <%= f.text_field :start_time, :size => 7, :class => 'input-mini' %></td>
    </tr>
    <tr>
      <th><%= f.label :end_datetime %>:</th>
      <td><%= f.text_field :end_date, :size => 10, :class => 'input-small' %>
        <%= f.text_field :end_time, :size => 7, :class => 'input-mini' %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= f.check_box :all_day %><%= f.label :all_day %></td>
    </tr>
    <tr>
      <th><%= f.label :where %>:</th>
      <td><%= f.text_field :where %></td>
    </tr>
    <tr>
      <th><%= f.label :description %>:</th>
      <td><%= f.text_area :description, :rows => 7 %></td>
    </tr>
    <tr>
      <th><%= f.label :url %>:</th>
      <td><%= f.text_field :url %>
          <p class="note">※ 一次情報の URL があれば入力して下さい。</p></td>
    </tr>
  </table>
    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
<% end %>

<%= javascript_tag do %>
  $(function() {
    $('#submission_start_date, #submission_start_time,' +
      '#submission_end_date, #submission_end_time').calendricalDateTimeRange({
        iso: 1
    });

    $('#submission_all_day').bind('change', function() {
      $('#submission_start_time, #submission_end_time')[this.checked ? 'hide' : 'show']()
    }).trigger('change');
  });
<% end %>
