<section>
<h2>申請されたイベントの処理</h2>

<%= form_for(@submission) do |f| %>

<%= render 'detail', form:f %>

<p>
<b><%= Submission.human_attribute_name :status %>:</b>
  <%= f.collection_select :status_id, Submission.statuses, :id, :human_name %>
  <%= f.submit :value => '変更する', :name => nil %>
</p>
<% end %>

</section>
<section>

<% if @submission.status == :new %>
<div class="btn-group btn-inline">
<a class="btn dropdown-toggle" data-toggle="dropdown">
カレンダーの編集画面を開く
<span class="caret"></span>
</a>
<ul class="dropdown-menu">
<% Rails.configuration.private_calendar_ids.each do |name, cid| %>
<li><%= gcal_add_link @submission, name, :src => cid %></li>
<% end %>
</ul>
</div>
<% end %>

<%- date = @submission.start_date.strftime("%Y%m%d") %>
<div class="btn-group btn-inline">
<a class="btn dropdown-toggle" data-toggle="dropdown">
カレンダーのこの日付を開く
<span class="caret"></span>
</a>
<ul class="dropdown-menu">
<% Rails.configuration.private_calendar_ids.each do |name, cid| %>
<li><%= link_to "#{name} (編集版)",
      "http://www.google.com/calendar/embed?src=#{CGI.escape(cid)}&dates=#{date}/#{date}&mode=WEEK",
      :target => 'calwin' %></li>
<% end %>
<li class="divider"></li>
<% Rails.configuration.public_calendar_ids.each do |name, cid| %>
<li><%= link_to "#{name} (公開版)",
      "http://www.google.com/calendar/embed?src=#{CGI.escape(cid)}&dates=#{date}/#{date}&mode=WEEK",
      :target => 'calwin' %></li>
<% end %>
<li class="divider"></li>
<li><%= link_to '自分のGoogleカレンダー',
      "http://www.google.com/calendar/render?date=#{date}",
      :target => 'calwin' %>
</li>
</ul>
</div>


<%= link_to '一覧に戻る', list_submissions_path, :class => 'btn' %>
</section>
