<p>
    VOCALENDAR に登録したいイベントはありませんか？
</p>

<%= button_to 'イベントを登録', new_submission_path, :method => :get %>

<% if !@new_subs.blank? %>
<h3>登録処理待ちのイベント</h3>

<table class="general-hor">
 <thead>
  <tr>
    <th>ID</th>
    <th><%= Submission.human_attribute_name :title %></th>
    <th><%= Submission.human_attribute_name :created_at %></th>
  </tr>
 </thead>
 <tbody>
<% @new_subs.each do |sub| %>
  <tr>
    <td><%= link_to "##{sub.id}", sub %></td>
    <td><%= link_to sub.title, sub %></td>
    <td><%= sub.created_at.strftime("%m/%d %H:%M") %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= will_paginate @new_subs %>
<% end %>

<h3>最近登録されたイベント</h3>
<p>
※ここから登録されたものだけが表示されています。
</p>

<table class="general-hor">
 <thead>
  <tr>
    <th>ID</th>
    <th><%= Submission.human_attribute_name :title %></th>
    <th><%= Submission.human_attribute_name :created_at %></th>
    <th><%= Submission.human_attribute_name :accepted_at %></th>
  </tr>
 </thead>
 <tbody>
<% @accepted_subs.each do |sub| %>
  <tr>
    <td><%= link_to "##{sub.id}", sub %></td>
    <td><%= link_to sub.title, sub %></td>
    <td><%= sub.created_at.strftime("%m/%d %H:%M") %></td>
    <td><%= sub.accepted_at.try(:strftime, "%m/%d %H:%M") %></td>
  </tr>
<% end %>
  </tbody>
</table>
