<h2>申請されたイベントの詳細</h2>

  <table class="submission-detail">
    <tr>
      <th><%= Submission.human_attribute_name :category_name %>:</th>
      <td><%= @submission.category_name %></td>
    </tr>
    <tr>
      <th><%= Submission.human_attribute_name :title %>:</th>
      <td><%= @submission.title %></td>
    </tr>
    <tr>
      <th><%= Submission.human_attribute_name :start_datetime %>:</th>
      <td>
        <% if @submission.all_day? %>
          <%= @submission.start_date %>
        <% else %>
          <%= @submission.start_datetime %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= Submission.human_attribute_name :end_datetime %>:</th>
      <td>
        <% if @submission.all_day? %>
          <%= @submission.end_date %>
        <% else %>
          <%= @submission.end_datetime %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= Submission.human_attribute_name :where %>:</th>
      <td><%= @submission.where %></td>
    </tr>
    <tr>
      <th><%= Submission.human_attribute_name :description %>:</th>
      <td><%= simple_format @submission.description %></td>
    </tr>
    <tr>
      <th><%= Submission.human_attribute_name :url %>:</th>
      <td><%= link_to_if @submission.url, @submission.url, @submission.url %></td>
    </tr>
  </table>

<%= form_for(@submission) do |f| %>
<p>
<b><%= Submission.human_attribute_name :status %>:</b> 
  <%= f.collection_select :status_id, Submission.statuses, :id, :human_name %>
  <%= f.submit :value => '変更する', :name => nil %>
</p>
<% end %>


<% if @submission.status == :new %>
<div class="btn-group btn-inline">
<a class="btn dropdown-toggle" data-toggle="dropdown">
カレンダーの編集画面を開く
<span class="caret"></span>
</a>
<ul class="dropdown-menu">
<% Rails.configuration.private_calendar_ids.each do |name, cid| %>
<li><%= gcal_add_link @submission, name, :src => cid %></li>
<% end %>
</ul>
</div>
<% end %>

<%- date = @submission.start_date.strftime("%Y%m%d") %>
<div class="btn-group btn-inline">
<a class="btn dropdown-toggle" data-toggle="dropdown">
カレンダーのこの日付を開く
<span class="caret"></span>
</a>
<ul class="dropdown-menu">
<% Rails.configuration.private_calendar_ids.each do |name, cid| %>
<li><%= link_to "#{name} (編集版)",
      "http://www.google.com/calendar/embed?src=#{CGI.escape(cid)}&dates=#{date}/#{date}&mode=WEEK",
      :target => 'calwin' %></li>
<% end %>
<li class="divider"></li>
<% Rails.configuration.public_calendar_ids.each do |name, cid| %>
<li><%= link_to "#{name} (公開版)",
      "http://www.google.com/calendar/embed?src=#{CGI.escape(cid)}&dates=#{date}/#{date}&mode=WEEK",
      :target => 'calwin' %></li>
<% end %>
<li class="divider"></li>
<li><%= link_to '自分のGoogleカレンダー',
      "http://www.google.com/calendar/render?date=#{date}",
      :target => 'calwin' %>
</li>
</ul>
</div>

<%= link_to '一覧に戻る', submissions_path, :class => 'action-button' %>
