<%= form_for @sub_category, :html => {:class => 'new_sub_category form-inline'} do |f| %>
  <table class="category-detail">
    <tr>
      <th><%= f.label :name %>:</th>
      <td>
        <% if @sub_category.new_record? %>
        <%= f.text_field :name %> ※一度決定すると変更できません
        <% else %>
        <%= @sub_category.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :group_id %>:</th>
      <td><%= f.text_field :group_id %></td>
    </tr>
    <tr>
      <th><%= f.label :order_class %>:</th>
      <td><%= f.text_field :order_class %></td>
    </tr>
    <tr>
      <th><%= f.label :description %>:</th>
      <td><%= f.text_field :description %></td>
    </tr>
    <tr>
      <th><%= f.label :disabled %>:</th>
      <td><%= f.check_box :disabled %></td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
